<div class="row">
  <div class="col-md-6">
    <h3>Tuesday, Feb 01 (Day 1)</h3>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop survey</a> </td> </tr>
      <tr> <td>09:00</td>  <td>Introduction</td> </tr>
      <tr> <td>09:15</td>  <td><a href="http://swcarpentry.github.io/shell-novice">Automating Tasks with the Unix Shell</a></td> </tr>
      <tr> <td>10:30</td>  <td>Break</td> </tr>
      <tr> <td>10:45</td>  <td><a href="http://swcarpentry.github.io/shell-novice">Automating Tasks with the Unix Shell</a> (Continued)</td> </tr>
      <tr> <td>11:45</td>  <td>Break</td> </tr>
      <tr> <td>12:00</td>  <td><a href="http://swcarpentry.github.io/shell-novice">Automating Tasks with the Unix Shell</a> (Continued)</td> </tr>
      <tr> <td>13:00</td>  <td>End of Day 1</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Wednesday, Feb 02 (Day 2)</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td><a href="https://swcarpentry.github.io/r-novice-gapminder/">R for Reproducible Scientific Analysis</a></td> </tr>
      <tr> <td>10:30</td>  <td>Break</td> </tr>
      <tr> <td>10:45</td>  <td><a href="https://swcarpentry.github.io/r-novice-gapminder/">R for Reproducible Scientific Analysis</a> (Continued)</td> </tr>
      <tr> <td>11:45</td>  <td>Break</td> </tr>
      <tr> <td>12:00</td>  <td><a href="https://swcarpentry.github.io/r-novice-gapminder/">R for Reproducible Scientific Analysis</a> (Continued)</td> </tr>
      <tr> <td>13:00</td>  <td>End of Day 2</td> </tr>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h3>Thursday, Feb 03 (Day 3)</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td><a href="https://swcarpentry.github.io/r-novice-gapminder/">R for Reproducible Scientific Analysis</a> (Continued)</td> </tr>
      <tr> <td>10:30</td>  <td>Break</td> </tr>
      <tr> <td>10:45</td>  <td><a href="https://swcarpentry.github.io/r-novice-gapminder/">R for Reproducible Scientific Analysis</a> (Continued)</td> </tr>
      <tr> <td>11:45</td>  <td>Break</td> </tr>
      <tr> <td>12:00</td>  <td><a href="https://swcarpentry.github.io/r-novice-gapminder/">R for Reproducible Scientific Analysis</a> (Continued)</td> </tr>
      <tr> <td>13:00</td>  <td>End of Day 3</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Friday, Feb 04 (Day 4)</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td><a href="http://swcarpentry.github.io/git-novice">Version Control with Git</a></td> </tr>
      <tr> <td>10:30</td>  <td>Break</td> </tr>
      <tr> <td>10:45</td>  <td><a href="http://swcarpentry.github.io/git-novice">Version Control with Git</a> (Continued)</td> </tr>
      <tr> <td>11:45</td>  <td>Break</td> </tr>
      <tr> <td>12:00</td>  <td><a href="http://swcarpentry.github.io/git-novice">Version Control with Git</a> (Continued)</td> </tr>
      <tr> <td>12:45</td>  <td>Wrap-up</td> </tr>
      <tr> <td>12:50</td>  <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Post-workshop Survey</a></td> </tr>
      <tr> <td>13:00</td>  <td>End of Workshop</td> </tr>
    </table>
  </div>
</div>
